@font-face {
  font-family: "Glory", sans-serif;
  src: url("../fonts/Glory-SemiBold.woff2") format("woff2"), url("../fonts/Glory-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Glory", sans-serif;
  src: url("../fonts/Glory-Medium.woff2") format("woff2"), url("../fonts/Glory-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* SASS */
/* BG-COLOR */
/* EFFECT */
/* CUSTOM PROPS */
:root {
  --color-dark: #070707;
  --color-dark-grey: #828282;
  --bg-color-body-white: #fff;
  --bg-color-body-white-grey: #F6F6F6;
  --transition: all 0.5s ease 0s;
}

/*
  Josh's Custom CSS Reset + some modifications
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* GLOBAL */
* {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Glory", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--bg-color-body-white);
  color: var(--color-dark);
  overflow-x: hidden;
}

img {
  height: auto;
}

ul,
li,
ol,
a {
  text-decoration: none;
  list-style: none;
}

.lock {
  overflow: hidden;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/
/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/
/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 42em) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header {
  padding-bottom: 65px;
}
.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__line {
  width: 100%;
  height: 1px;
  background-color: var(--color-dark-grey);
  margin-bottom: 40px;
}
.header__icon {
  display: none;
}
.header__content {
  display: flex;
  flex-direction: column;
}
.header__heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 0px;
}
.header__text {
  font-size: 18px;
  font-weight: 500;
}

/*NAV*/
.nav {
  padding-top: 16px;
  padding-bottom: 16px;
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 0;
}
.nav__link {
  font-weight: 600;
  color: var(--color-dark-grey);
  transition: var(--transition);
}
.nav__link:hover {
  color: var(--color-dark);
}
.nav__link--active {
  color: var(--color-dark);
}

/* 765 */
@media only screen and (min-width: 47.5em) {
  .header {
    padding-bottom: 83px;
  }
  .header__title {
    font-size: 47px;
  }
  .nav {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
/* 580 */
@media only screen and (max-width: 42.5em) {
  .header {
    padding-bottom: 25px;
  }
  .header__line {
    display: none;
  }
  .header__flex {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-start;
  }
  .header__icon {
    order: 1;
    display: block;
    z-index: 5;
    position: relative;
    width: 33px;
    height: 20px;
    top: 10px;
    left: 0;
    cursor: pointer;
  }
  .header__heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__title {
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .header__text {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .header span, .header__icon::before, .header__icon::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background-color: var(--color-dark);
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::after {
    top: 0;
  }
  .header__icon::before {
    bottom: 0;
  }
  .header span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: var(--bg-color-body-white);
    transition: left 0.3s ease 0s;
  }
  .nav__list {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-end;
    align-items: start;
    text-align: start;
  }
  .nav__list > li {
    margin-bottom: 30px;
  }
  .nav__list > li:last-child {
    margin-bottom: 0;
  }
  .nav__link {
    font-size: 20px;
    font-weight: 600;
  }
}
/* ACTIVE */
.active {
  left: 0;
}

.header__icon.active {
  width: 22px;
  height: 18px;
}
.header__icon.active span {
  transform: scale(0) translate(0px, -50%);
}
.header__icon.active::after {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  background-color: var(--color-dark-grey);
}
.header__icon.active::before {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  background-color: var(--color-dark-grey);
}

@media only screen and (max-width: 42.5em) {
  .header__title {
    font-size: 20px;
  }
}
/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: var(--bg-color-body-white-grey);
}
.about__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__heading > span {
  margin-bottom: 50px;
}
.about__heading > span:last-child {
  margin-bottom: 0;
}
.about__span {
  width: 316px;
  display: block;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dark);
}

/* 765 */
@media only screen and (min-width: 48.5rem) {
  .about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about__heading > span {
    margin-bottom: 50px;
  }
  .about__heading > span:last-child {
    margin-bottom: 0;
  }
  .about__span {
    width: 415px;
  }
}
/*580*/
@media only screen and (max-width: 34em) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about__heading > span {
    margin-bottom: 30px;
  }
}
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}
.skills__head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills__title {
  font-weight: 500;
  font-size: 34px;
  color: var(--color-dark);
  margin-bottom: 25px;
}
.skills__text {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dark);
  margin-bottom: 25px;
}
.skills__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.skills__body > *:not(:last-child) {
  margin: 0px 0px 51px 0px;
}
.skills__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__img {
  margin-bottom: 24px;
}
.skills__img--item {
  width: 90px;
  height: 90px;
}
.skills__picname {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: var(--color-dark-grey);
  margin-bottom: 25px;
}
.skills__stars {
  display: flex;
  align-items: center;
}
.skills__icon {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

/* 765 */
@media only screen and (min-width: 48.5em) {
  .skills {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .skills__title {
    margin-bottom: 30px;
  }
  .skills__text {
    margin-bottom: 30px;
  }
  .skills__body {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .skills__body > *:not(:last-child) {
    margin: 0px 0px 0px 0px;
  }
  .skills__content {
    flex: 1 1 20%;
  }
  .skills__img {
    margin-bottom: 27px;
  }
}
@media only screen and (max-width: 38.5em) {
  .skills {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .skills__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .skills__text {
    margin-bottom: 20px;
  }
  .skills__picname {
    margin-bottom: 20px;
  }
  .skills__body > *:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .skills__img {
    margin-bottom: 20px;
  }
}
.portfolio {
  text-align: center;
  padding: 81px 0px 0px 0px;
  background-color: var(--bg-color-body-white-grey);
}
.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__title {
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 65px;
}
.portfolio__cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.portfolio__img--item {
  width: 100%;
  height: 100%;
}

.cards-portfolio {
  margin-bottom: 37px;
  position: relative;
}
.cards-portfolio__img {
  cursor: pointer;
  margin-bottom: 33px;
}
.cards-portfolio__text {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dark);
  text-decoration: underline;
  transition: var(--transition);
  cursor: pointer;
}
.cards-portfolio__text:hover {
  color: var(--color-dark-grey);
}

@media only screen and (min-width: 46.5em) {
  .portfolio {
    padding: 60px 0px 50px 0px;
  }
  .portfolio__title {
    margin-bottom: 46px;
  }
  .cards-portfolio__img {
    margin-bottom: 44px;
  }
}
@media only screen and (max-width: 38.5em) {
  .portfolio {
    padding: 30px 0px 0px 0px;
  }
  .portfolio__title {
    font-size: 28px;
    margin-bottom: 32px;
  }
  .portfolio__img--item {
    width: 100%;
    height: 100%;
  }
}
.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal__content {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 5%;
  background-color: var(--bg-color-body-white-grey);
  animation: content 0.5s ease-in-out forwards;
  opacity: 0;
}
.modal__close {
  width: 20px;
  height: 20px;
  order: 1;
  cursor: pointer;
}
.modal__slider {
  margin-right: 10px;
}
.modal__show {
  display: flex;
  align-items: flex-start;
  background-color: var(--bg-color-body-white-grey);
  box-shadow: rgba(106, 106, 114, 0.2) 0px 7px 29px 0px;
}
.modal__body {
  overflow-y: hidden;
}

@keyframes content {
  from {
    transform: scale(0);
    transform: translateY(-50%);
    filter: blur(5px);
  }
  to {
    transform: scale(1);
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.carousel__slide img {
  width: 390px;
  height: 490px;
  object-fit: contain;
}
.carousel__slide {
  display: none;
  animation: animation 1s ease-in-out forwards;
}
.carousel__slide--block {
  display: block;
}
.carousel__slider {
  display: flex;
  margin-bottom: 20px;
}
.carousel__points {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 0;
  position: relative;
  z-index: 5;
}
.carousel__point {
  width: 20px;
  height: 20px;
  background-color: #6d6a6a;
  border-radius: 50%;
  border: 2px solid #6d6a6a;
  cursor: pointer;
}
.carousel__point--white {
  background-color: var(--bg-color-body-white-grey);
}
.carousel__point:not(:last-child) {
  margin-right: 10px;
}
.carousel__spans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--bg-color-body-white);
}
.carousel__spans span {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.carousel__right {
  transform: translateX(32px);
}

@keyframes animation {
  from {
    opacity: 0.5;
    transform: scale(1.2);
    transform: translateX(100px);
    filter: blur(5px);
  }
  to {
    transform: scale(1);
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}
.contacts {
  padding: 30px 0px 30px 0px;
  text-align: center;
}
.contacts__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title {
  font-weight: 500;
  font-size: 34px;
  color: var(--color-dark);
  margin-bottom: 20px;
}
.contacts__text {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dark);
  margin-bottom: 30px;
}
.contacts__link {
  font-weight: 500;
  font-size: 18px;
  color: var(--bg-color-body-white);
  padding: 13px 30px;
  border: 1px solid var(--color-dark);
  background-color: var(--color-dark);
  border-radius: 50px;
  transition: var(--transition);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.contacts__link:hover {
  color: var(--color-dark);
  background-color: var(--bg-color-body-white-grey);
}

/* 580 */
@media only screen and (max-width: 36em) {
  .contacts {
    padding: 25px 0px 25px 0px;
    text-align: center;
  }
  .contacts__title {
    font-size: 24px;
    margin-bottom: 18px;
  }
  .contacts__text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .contacts__link {
    font-size: 18px;
  }
}
.socials {
  padding-top: 30px;
  padding-bottom: 45px;
}
.socials__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials__img:not(:last-child) {
  margin-right: 45px;
}
.socials__icon {
  width: 70px;
  height: 70px;
}

/* 505 */
@media only screen and (max-width: 48.5em) {
  .socials {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .socials__container {
    flex-wrap: wrap;
  }
  .socials__img:not(:last-child) {
    margin-right: 21px;
  }
  .socials__icon {
    width: 40px;
    height: 40px;
  }
}
.footer {
  padding-bottom: 20px;
}
.footer__copy {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-dark-grey);
}

/*# sourceMappingURL=main.css.map */
