@font-face {
  font-family: "Glory", sans-serif;
  src: url("../fonts/Glory-SemiBold.woff2") format("woff2"),
    url("../fonts/Glory-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Glory" , sans-serif;
  src: url("../fonts/Glory-Medium.woff2") format("woff2"),
    url("../fonts/Glory-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}