/* SASS */
$color-dark: #070707;
$color-dark-grey: #828282;

/* BG-COLOR */
$bg-color-body-white: #fff;
$bg-color-body-white-grey: #F6F6F6;

/* EFFECT */
$transition: all 0.5s ease 0s;

/* CUSTOM PROPS */
:root {
  --color-dark: #{$color-dark};
  --color-dark-grey: #{$color-dark-grey};

  --bg-color-body-white: #{$bg-color-body-white};
  --bg-color-body-white-grey: #{$bg-color-body-white-grey};

  --transition: #{$transition};
}