.about {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: var(--bg-color-body-white-grey);

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__heading>span {
    margin-bottom: 50px;
  }

  &__heading>span:last-child {
    margin-bottom: 0;
  }

  &__span {
    width: 316px;
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: var(--color-dark);

  }
}

/* 765 */
@include breakpoint-up(48.5rem) {
  .about {
    padding-top: 108px;
    padding-bottom: 107px;

    &__heading>span {
      margin-bottom: 50px;
    }

    &__heading>span:last-child {
      margin-bottom: 0;
    }

    &__span {
      width: 415px;
    }
  }
}

/*580*/
@include breakpoint-down(34em) {
  .about {
    padding-top: 50px;
    padding-bottom: 50px;

    &__heading>span {
      margin-bottom: 30px;
    }
  }
}