.contacts {
  padding: 50px 0px 50px 0px;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 34px;
    color: var(--color-dark);
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-dark);
    margin-bottom: 40px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    color: var(--bg-color-body-white);
    padding: 13px 30px;
    border: 1px solid var(--color-dark);
    background-color: var(--color-dark);
    border-radius: 50px;
    transition: var(--transition);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
      color: var(--color-dark);
      background-color: var(--bg-color-body-white-grey);
    }
  }

}

/* 580 */
@include breakpoint-down(36em) {
  .contacts {
    padding: 25px 0px 25px 0px;
    text-align: center;

    &__title {
      font-size: 24px;
      margin-bottom: 18px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 20px;
    }

    &__link {
      font-size: 18px;
    }
  }
}