@use "sass:color";

.header {
  padding-bottom: 65px;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: var(--color-dark-grey);
    margin-bottom: 40px;
  }

  &__icon {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    font-size: 34px;
    font-weight: 600;
    margin-top: 0px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
  }
}

/*NAV*/
.nav {
  padding-top: 16px;
  padding-bottom: 16px;

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
  }

  &__link {
    font-weight: 600;
    color: var(--color-dark-grey);
    transition: var(--transition);

    &:hover {
      color: var(--color-dark);
    }
  }

  &__link--active {
    color: var(--color-dark);
  }
}

/* 765 */
@include breakpoint-up(47.5em) {
  .header {
    padding-bottom: 83px;

    &__title {
      font-size: 47px;
    }
  }

  .nav {
    padding-top: 32px;
    padding-bottom: 32px;
  }

}

/* 580 */
@include breakpoint-down(38.5em) {
  .header {
    padding-bottom: 25px;

    &__line {
      display: none;
    }

    &__flex {
      display: flex;
      justify-content: space-around;
      padding: 15px;
      align-items: flex-start;
    }

    &__img {
      justify-content: flex-start;
    }

    &__icon {
      order: 1;
      display: block;
      z-index: 5;
      position: relative;
      width: 33px;
      height: 20px;
      top: 10px;
      left: 0;
      cursor: pointer;
    }

    &__heading {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      font-size: 21px;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 28px;
    }

    & span,
    &__icon::before,
    &__icon::after {
      position: absolute;
      left: 0;
      width: 100%;
      height: 10%;
      transition: all 0.3s ease 0s;
      background-color: var(--color-dark);
    }

    &__icon::before,
    &__icon::after {
      content: "";
    }

    &__icon::after {
      top: 0;
    }

    &__icon::before {
      bottom: 0;
    }

    & span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }

  }

  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-color: var(--bg-color-body-white);
    transition: left 0.3s ease 0s;


    &__list {
      max-width: 375px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: flex-end;
      align-items: start;
      text-align: start;
    }

    &__list>li {
      margin-bottom: 30px;
    }

    &__list>li:last-child {
      margin-bottom: 0;
    }

    &__link {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

/* ACTIVE */
.active {
  left: 0;
}

.header__icon {
  &.active {
    width: 22px;
    height: 18px;
  }

  &.active span {
    transform: scale(0) translate(0px, -50%);
  }

  &.active::after {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: var(--color-dark-grey);

  }

  &.active::before {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: var(--color-dark-grey);

  }
}