.skills {
  padding-top: 50px;
  padding-bottom: 50px;

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-weight: 500;
    font-size: 34px;
    color: var(--color-dark);
    margin-bottom: 25px;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    color: var(--color-dark);
    margin-bottom: 25px;
  }

  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  &__body>*:not(:last-child) {
    margin: 0px 0px 51px 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    margin-bottom: 24px;
    opacity: 0;
    animation: skills .5s ease-in-out forwards;

    &--item {
      width: 90px;
      height: 90px;
    }
  }

  &__picname {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: var(--color-dark-grey);
    margin-bottom: 25px;
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 9px;
  }
}

/* SLIDER */
.skills__slide {
  display: none;
  transition: all 0.5s ease 0s;
}

.skills__points {
  display: flex;
  align-items: center;
}

.skills__point {
  width: 20px;
  height: 20px;
  border: 2px solid #6d6a6a;
  background-color: #6d6a6a;
  border-radius: 50%;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.skills-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;

  & span img {
    width: 20px;
    width: 20px;
    cursor: pointer;
  }
}

.skills-block {
  display: block;
  background-color: #fff;
}

@keyframes skills {
  from {
    transform: translateX(90px);
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* 765 */
@include breakpoint-up(48.5em) {
  .skills {
    padding-top: 70px;
    padding-bottom: 70px;

    &__title {
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__body {
      gap: 30px;
    }

    &__body>*:not(:last-child) {
      margin: 0px 0px 0px 0px;
    }

    &__content {
      flex: 1 1 20%;
    }

    &__img {
      margin-bottom: 27px;
    }

  }

}

@include breakpoint-down(38.5em) {
  .skills {
    padding-top: 25px;
    padding-bottom: 25px;

    &__title {
      font-size: 28px;
      margin-bottom: 20px;
    }

    &__text {
      margin-bottom: 20px;
    }

    &__picname {
      margin-bottom: 20px;
    }

    &__body>*:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }

    &__img {
      margin-bottom: 20px;
    }
  }

  .skills__point {
    width: 18px;
    height: 18px;
  }

  .skills-carousel {
    width: 70%;
    height: 50%;

    & span img {
      width: 15px;
      width: 15px;
    }
  }
}

@include breakpoint-down(480px) {
  .skills-carousel {
    width: 90%;
  }
}